.header__logo {
    max-width: 142px;
    width: 100%;
    height: auto;
    margin-bottom: 41px;
}
@media screen and (max-width: 768px) {
    .header__logo {
        margin: 0 0 31px 27px;
    }
}




