.profile__info {
    max-width: 336px;
    width: 100%;
    height: auto;
    display: inline-block;
    margin-left: 30px;
}
@media screen and (max-width: 535px) {
    .profile__info {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
}